/*
  Timeline Component
  -------------------------------------
*/
.timeline {
  position: relative;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  border-left: 2px solid var(--color-muted);
}

.timeline-item {
  position: relative;
  margin-bottom: var(--g-4);
}

.timeline-dot {
  position: absolute;
  left: -2.1rem;
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--color-primary);
  border: 2px solid var(--color-background);
  box-shadow: var(--shadow-md);
}
